In [39]:
import pandas as pd

df = pd.read_csv('../static/data/engineer_data.csv', encoding='cp932', parse_dates=['開始請求期間','終了請求期間'], index_col=False)
print(df.head())

               得意先名 ｴﾝｼﾞﾆｱ名 営業担当者名     開始請求期間     終了請求期間
0          富士ソフト_福岡   田村 正喜  千原　義喜 2025-04-01 2026-03-31
1          富士ソフト_福岡   中川 貴之  千原　義喜 2025-04-01 2026-03-31
2        正興電機製作所_太田    太田 勲  横山　亜紀 2025-04-01 2026-03-31
3  SDCソリューションズ_インフラ   五所 善寛   常盤　光 2025-04-01 2026-03-31
4            柳井電機工業   今林 宏司  松本　翔瑚 2025-04-01 2025-11-30

In [20]:
company_df = df['得意先名']
company_df

0              富士ソフト_福岡
1              富士ソフト_福岡
2            正興電機製作所_太田
3      SDCソリューションズ_インフラ
4                柳井電機工業
             ...
316       ＦＰＴソフトウェアジャパン
317            信興テクノミスト
318            信興テクノミスト
319            ロココ_大阪本社
320                 KIS
Name: 得意先名, Length: 321, dtype: object

In [ ]:
is_df = isinstance(company_df, pd.DataFrame)

is_serise = isinstance(company_df, pd.Series)

print(f"DataFrame : {is_df}")
print(f"DataFrame : {is_serise}")

DataFrame : False
DataFrame : True
0              富士ソフト_福岡
1              富士ソフト_福岡
2            正興電機製作所_太田
3      SDCソリューションズ_インフラ
4                柳井電機工業
             ...
316       ＦＰＴソフトウェアジャパン
317            信興テクノミスト
318            信興テクノミスト
319            ロココ_大阪本社
320                 KIS
Name: 得意先名, Length: 321, dtype: object

In [16]:
for idx, value in company_df.items():
    print(value)

富士ソフト_福岡
富士ソフト_福岡
正興電機製作所_太田
SDCソリューションズ_インフラ
柳井電機工業
コスミックビジネス
富士ソフト_福岡
富士ソフト_福岡
富士ソフト_名古屋
富士ソフト_刈谷2
富士ソフト_名古屋
富士ソフト_名古屋
富士ソフト_名古屋
日本通運
SDCソリューションズ_川原
ICTコンストラクション
宏保システック
信興テクノミスト
Q-innovations
正興電機製作所_井手
キャッチボール
キャッチボール
キャッチボール
キャッチボール
キャッチボール
正興電機製作所_龍
正興電機製作所_吉永
アクシス_岩永・中司・後藤・仁田原・キム
オートウェイ
正興ＩＴソリューション
SETソフトウェア
チクシ電気
テクノ・カルチャー・システム_重冨
フォーサイトシステム_本社
行政システム九州
三菱電機ソフトウエア
アステックペイント
フォーサイトシステム㈱ 本社
フォーサイトシステム_本社
フォーサイトシステム_本社
フォーサイトシステム_本社
フォーサイトシステム_本社
正興電機製作所_吉川
ティーネットジャパン
ユー・エス・イー
OrLinK
ケー・イー・エルテクニカルサービス
ケー・イー・エルテクニカルサービス
システムマインド
デンサン
BCC
DNPデジタルソリューションズ_阿部
DNPデジタルソリューションズ_豊山
行政システム九州_古川・ネイン・泊
日本自動化開発＿三小田
行政システム九州
行政システム九州
日本コンピュータコンサルタント
日本コンピュータコンサルタント
スパイラル
オネスト
SDCソリューションズ_土井
リンクレア_小林
シエルシステム
シエルシステム
リンクレア_小林
行政システム九州
行政システム九州
行政システム九州
行政システム九州
行政システム九州
行政システム九州
行政システム九州
行政システム九州
ネクシス
行政システム九州
リーディング・ウィン
JTC
行政システム九州
行政システム九州_古川・ネイン・泊
サンテク
ネットワンシステムズ_一樂
旭情報サービス
やずや
チクシ電気
チクシ電気
チクシ電気
チクシ電気
ISTソフトウェア_楽天
富士ソフト_福岡
富士ソフト_福岡
ワールドシステムサービス
富士ソフト_福岡
エム・オー・エム・テクノロジー
新日本企画
KEL CRESTIA
ティーアンドエス
イー・アンド・エム_宮崎
イー・アンド・エム_宮崎
アステックペイント
SIG
イー・アンド・エム_宮崎
NCD
コア
アイネス 九州支社
アイネス 九州支社
ウィナーソフト
九州日立システムズ
やずや
九州日立システムズ
システムライフ
セレクティ
システムライフ
フォーサイトシステム_本社
インフォセンス_中村・七田
インフォセンス_中村・七田
アクシス_近藤
ネクシス
ネクシス
ニュージャパンナレッジ
情報技術開発
フォーサイトシステム_本社
フォーサイトシステム_本社
フォーサイトシステム_本社
フォーサイトシステム_本社
フォーサイトシステム㈱ 本社
フォーサイトシステム㈱ 本社
フォーサイトシステム㈱ 本社
フォーサイトシステム_本社
イアス
テクノプロ　福岡支店
エイチ・エル・シー_福岡（福岡）
エイチ・エル・シー_福岡（福岡）
インテックソリューションパワー
フォーサイトシステム_本社
中央エンジニアリング_機電
ニュージャパンナレッジ
ネットワーク応用技術研究所
フォーサイトシステム_本社
シーイーシー
エイチ・エル・シー_福岡（福岡）
情報技術開発
ディジテック
フォーサイトシステム_本社
シーイーシー
フォーサイトシステム_本社
シーイーシー
フォーサイトシステム㈱ 本社
アルコン
フォーサイトシステム_本社
フォーサイトシステム_本社
アクシス_岩永・中司・後藤・仁田原・キム
アクシス_岩永・中司・後藤・仁田原・キム
アクシス_岩永・中司・後藤・仁田原・キム
フォーサイトシステム_本社
フォーサイトシステム_本社
エイエイエス
エイエイエス
フォーサイトシステム_本社
フォーサイトシステム_本社
フォーサイトシステム_本社
SCSKニアショアシステムズ
フォーサイトシステム_本社
フォーサイトシステム_本社
アクシス_岩永・中司・後藤・仁田原・キム
アクシス_岩永・中司・後藤・仁田原・キム
ＦＰＴニアショアジャパン
フォーサイトシステム_本社
ディジテック
東芝デジタルエンジニアリング
東芝デジタルエンジニアリング
RKKCS
RKKCS
RKKCS
RKKCS
RKKCS
RKKCS
NSW
テクノ・カルチャー・システム_長谷川
マーブル
NSW
マーブル_福岡
マーブル
SCSK九州
ラーグ
ワールドシステムサービス_佐世保事業所
HTSライズ
ネットワンシステムズ_鶴
RKKCS
SCSK九州
SCSK九州
マーブル_福岡
コンピュータハウス
日本テクノストラクチャア
ワールドシステムサービス
SCSK九州
アルファシステムズ
アルファシステムズ
アルファシステムズ
アルファシステムズ
SCSK九州
TOPPANエッジＩＴソリューション
コマス
日本コンピュータコンサルタント
アクティス__福岡事業所
SDCソリューションズ_本社
SDCソリューションズ_本社
SDCソリューションズ_本社
コマス_福岡
アクセンチュア
SDCソリューションズ_本社
SDCソリューションズ_本社
JR九州システムソリューションズ
ケイ・シー・シー25日〆
ケイ・シー・シー 末日〆
ケイ・シー・シー 末日〆
Sky_小山
ティーネットジャパン
コマス_福岡
アクセンチュア
ロココ_大阪本社
ｱﾄﾞｳﾞｧﾝｽﾄ･ｲﾝﾌｫｰﾒｲｼｮﾝ・ﾃﾞｻﾞｲﾝ
アイスプリング
ロココ_大阪本社
ｱﾄﾞｳﾞｧﾝｽﾄ･ｲﾝﾌｫｰﾒｲｼｮﾝ・ﾃﾞｻﾞｲﾝ
アイシーエス
ナビオコンピュータ_20日〆
ｱﾄﾞﾊﾞﾝｽﾄﾏﾈｰｼﾞﾒﾝﾄｺﾝｻﾙﾃｨﾝｸﾞ
実業之日本総合研究所
ｱﾄﾞﾊﾞﾝｽﾄﾏﾈｰｼﾞﾒﾝﾄｺﾝｻﾙﾃｨﾝｸﾞ
アイシーエス
ｱﾄﾞﾊﾞﾝｽﾄﾏﾈｰｼﾞﾒﾝﾄｺﾝｻﾙﾃｨﾝｸﾞ
ユー・エス・イー
ユー・エス・イー
GSI
ｱﾄﾞﾊﾞﾝｽﾄﾏﾈｰｼﾞﾒﾝﾄｺﾝｻﾙﾃｨﾝｸﾞ
ｱﾄﾞﾊﾞﾝｽﾄﾏﾈｰｼﾞﾒﾝﾄｺﾝｻﾙﾃｨﾝｸﾞ
日本ビジネスソフト
日本ビジネスソフト
ナレッジ
ナレッジ
シンク
ジャパネットホールディングス
コア
コア
コア
シティアスコム
シティアスコム
シティアスコム
コア
コア
九州DTS
ナレッジ
ニュータッチイノベーション
九州DTS
九州DTS
九州DTS
九州DTS
九州DTS
コア
コア
九州DTS
シンク
ジャパネットホールディングス
九州DTS
九州DTS
コア
シンク
シンク
シティアスコム
九州DTS
九州DTS
ﾘｰｼﾞｮﾅﾙｸﾘｴｰｼｮﾝ長崎_長崎ｽﾀｼﾞｱﾑｼﾃｨ
コア
九州DTS
福岡労働衛生研究所
内外電機
日本テクノストラクチャア
CTCシステムマネジメント
フォーサイトシステム_本社
日本ビジネスソフト
EZカンパニー
NSW
NSW
サイバーコム
Q-innovations
三菱電機デジタルイノベーション
アイスプリング
九州テン
コムチュア
ネットワンシステムズ_鶴
コマス_福岡
ケイ・シー・シー25日〆
スパイラル
富士ソフト_福岡
RKKCS
SCSK九州
フォーサイトシステム_本社
アイフロント_福岡
アクシス_岩永・中司・後藤・仁田原・キム
富士ソフト_福岡
ネットワーク応用技術研究所
ＦＰＴニアショアジャパン
九州日立システムズ
SCSKニアショアシステムズ
シーイーシー
コア
シンク
ケイ・シー・シー 末日〆
九州電力
インフォコムテクノロジーズ
九州DTS
RKKCS
SDCソリューションズ_本社
九州日立システムズ
インターネットイニシアティブ
ＦＰＴソフトウェアジャパン
信興テクノミスト
信興テクノミスト
ロココ_大阪本社
KIS

In [41]:
df.columns

df.columns = ['company', 'engineer_name', 'sales', 'start_date', 'end_date']

In [ ]:
df

              company engineer_name  sales start_date   end_date
0            富士ソフト_福岡         田村 正喜  千原　義喜 2025-04-01 2026-03-31
1            富士ソフト_福岡         中川 貴之  千原　義喜 2025-04-01 2026-03-31
2          正興電機製作所_太田          太田 勲  横山　亜紀 2025-04-01 2026-03-31
3    SDCソリューションズ_インフラ         五所 善寛   常盤　光 2025-04-01 2026-03-31
4              柳井電機工業         今林 宏司  松本　翔瑚 2025-04-01 2025-11-30
..                ...           ...    ...        ...        ...
316     ＦＰＴソフトウェアジャパン         髙野 健彦  坂田　絵理 2025-10-16 2025-12-31
317          信興テクノミスト         藤木 祐治  千原　義喜 2025-10-01 2026-03-31
318          信興テクノミスト         宮崎 昌一  千原　義喜 2025-10-01 2026-03-31
319          ロココ_大阪本社         石川 康祐  森中　祐樹 2025-10-16 2025-11-18
320               KIS         イ デグン  松本　翔瑚 2025-10-01 2025-12-25

[321 rows x 5 columns]

In [7]:
import sqlite3

conn = sqlite3.connect('../db.sqlite3')

cur = conn.cursor()

In [43]:
cur.execute('select * from auth_user;')

rows = cur.fetchall()
#id	password	'last_login'	'is_superuser'	'username'	'last_name'	'email'	'is_staff'	'is_active'	'date_joined'
columns = [desc[0] for desc in cur.description]

df_user = pd.DataFrame(rows, columns=columns)
df_user

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,pbkdf2_sha256$1000000$W62P3b625naUlmXuFUBeP6$b...,2025-10-20 05:36:18.133579,1,admin,,,1,1,2025-10-14 07:36:32.118808,
1,2,pbkdf2_sha256$1000000$bRS1foSaGtH9m8i2XPzVh6$e...,2025-10-17 06:33:23.316568,0,testuser,,test@example.com,0,1,2025-10-16 05:16:03.190073,
2,3,pbkdf2_sha256$1000000$353E3cc0NXrmr7aYQiKeCm$n...,None,0,testuser1,,,0,1,2025-10-17 06:35:12.970383,user1
3,4,pbkdf2_sha256$1000000$T9xSsSCaaxgH8jyBW2RVxm$H...,2025-10-17 06:41:59.866590,0,testuser2,,,0,1,2025-10-17 06:41:46.904511,user2
4,5,pbkdf2_sha256$1000000$Xz1KxTLUbbfVMbWl2wh3Op$s...,None,0,testuser3,,test3@example.com,0,1,2025-10-20 08:59:23.571139,
5,6,pbkdf2_sha256$1000000$ujXdIMgre3sRmDCRFJEi6t$0...,None,0,testuser4,,test4@example.com,0,1,2025-10-20 08:59:23.925337,
6,7,pbkdf2_sha256$1000000$Grv6cXzQeNzucsC170g2Ij$U...,None,0,testuser5,,test5@example.com,0,1,2025-10-20 08:59:24.262764,
7,8,pbkdf2_sha256$1000000$QKJ317OojD9naHbFA9WwdH$/...,None,0,testuser6,,test6@example.com,0,1,2025-10-20 08:59:24.614737,
8,9,pbkdf2_sha256$1000000$B3we0NkcgIUCdmi1oBoYxG$I...,None,0,testuser7,,test7@example.com,0,1,2025-10-20 08:59:24.948023,
9,10,pbkdf2_sha256$1000000$u7RuDXdX52mn3OFUSQlMXm$J...,None,0,testuser8,,test8@example.com,0,1,2025-10-20 08:59:25.288339,
10,11,pbkdf2_sha256$1000000$LYDSO8ptymPYSYiJyAZ1Ep$1...,None,0,testuser9,,test9@example.com,0,1,2025-10-20 08:59:25.624585,
11,12,pbkdf2_sha256$1000000$8PZeOHdWtA7Cydl8zDd7oy$m...,None,0,testuser10,,test10@example.com,0,1,2025-10-20 08:59:25.968777,
12,13,pbkdf2_sha256$1000000$57I2LOicU4gLIt1of3oGqz$1...,None,0,testuser11,,test11@example.com,0,1,2025-10-20 08:59:26.313016,
13,14,pbkdf2_sha256$1000000$igOnvu0yQM5bq0fuDqtPP8$X...,None,0,testuser12,,test12@example.com,0,1,2025-10-20 08:59:26.661378,
14,15,pbkdf2_sha256$1000000$opUG6joLPGHbgtyTdXWiGR$N...,None,0,testuser13,,test13@example.com,0,1,2025-10-20 08:59:27.004200,
15,16,pbkdf2_sha256$1000000$bu8LWat7uFAxOJir35JXw5$Y...,None,0,testuser14,,test14@example.com,0,1,2025-10-20 08:59:27.343609,

In [70]:
dropduple_df = df['sales'].drop_duplicates()
dropduple_df = dropduple_df.reset_index(drop=True)
dropduple_df

0     千原　義喜
1     横山　亜紀
2      常盤　光
3     松本　翔瑚
4     森中　祐樹
5     河野　竜也
6     稗田　翔梧
7     竹中　千紘
8     坂田　絵理
9     飯室　英治
10    中村　由希
11    伊藤　千晶
12    柳原　百雅
Name: sales, dtype: object

In [52]:
df_user['first_name']

0
1
2     user1
3     user2
4
5
6
7
8
9
10
11
12
13
14
15
Name: first_name, dtype: object

In [71]:
firstname =[row['first_name'] for idx, row in df_user.iterrows()]
for i in range(len(dropduple_df)):
    df_user.loc[i+1, 'first_name'] = dropduple_df[i]
    
df_user

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,pbkdf2_sha256$1000000$W62P3b625naUlmXuFUBeP6$b...,2025-10-20 05:36:18.133579,1,admin,,,1,1,2025-10-14 07:36:32.118808,
1,2,pbkdf2_sha256$1000000$bRS1foSaGtH9m8i2XPzVh6$e...,2025-10-17 06:33:23.316568,0,testuser,,test@example.com,0,1,2025-10-16 05:16:03.190073,千原 義喜
2,3,pbkdf2_sha256$1000000$353E3cc0NXrmr7aYQiKeCm$n...,None,0,testuser1,,,0,1,2025-10-17 06:35:12.970383,横山 亜紀
3,4,pbkdf2_sha256$1000000$T9xSsSCaaxgH8jyBW2RVxm$H...,2025-10-17 06:41:59.866590,0,testuser2,,,0,1,2025-10-17 06:41:46.904511,常盤 光
4,5,pbkdf2_sha256$1000000$Xz1KxTLUbbfVMbWl2wh3Op$s...,None,0,testuser3,,test3@example.com,0,1,2025-10-20 08:59:23.571139,松本 翔瑚
5,6,pbkdf2_sha256$1000000$ujXdIMgre3sRmDCRFJEi6t$0...,None,0,testuser4,,test4@example.com,0,1,2025-10-20 08:59:23.925337,森中 祐樹
6,7,pbkdf2_sha256$1000000$Grv6cXzQeNzucsC170g2Ij$U...,None,0,testuser5,,test5@example.com,0,1,2025-10-20 08:59:24.262764,河野 竜也
7,8,pbkdf2_sha256$1000000$QKJ317OojD9naHbFA9WwdH$/...,None,0,testuser6,,test6@example.com,0,1,2025-10-20 08:59:24.614737,稗田 翔梧
8,9,pbkdf2_sha256$1000000$B3we0NkcgIUCdmi1oBoYxG$I...,None,0,testuser7,,test7@example.com,0,1,2025-10-20 08:59:24.948023,竹中 千紘
9,10,pbkdf2_sha256$1000000$u7RuDXdX52mn3OFUSQlMXm$J...,None,0,testuser8,,test8@example.com,0,1,2025-10-20 08:59:25.288339,坂田 絵理
10,11,pbkdf2_sha256$1000000$LYDSO8ptymPYSYiJyAZ1Ep$1...,None,0,testuser9,,test9@example.com,0,1,2025-10-20 08:59:25.624585,飯室 英治
11,12,pbkdf2_sha256$1000000$8PZeOHdWtA7Cydl8zDd7oy$m...,None,0,testuser10,,test10@example.com,0,1,2025-10-20 08:59:25.968777,中村 由希
12,13,pbkdf2_sha256$1000000$57I2LOicU4gLIt1of3oGqz$1...,None,0,testuser11,,test11@example.com,0,1,2025-10-20 08:59:26.313016,伊藤 千晶
13,14,pbkdf2_sha256$1000000$igOnvu0yQM5bq0fuDqtPP8$X...,None,0,testuser12,,test12@example.com,0,1,2025-10-20 08:59:26.661378,柳原 百雅
14,15,pbkdf2_sha256$1000000$opUG6joLPGHbgtyTdXWiGR$N...,None,0,testuser13,,test13@example.com,0,1,2025-10-20 08:59:27.004200,
15,16,pbkdf2_sha256$1000000$bu8LWat7uFAxOJir35JXw5$Y...,None,0,testuser14,,test14@example.com,0,1,2025-10-20 08:59:27.343609,

In [73]:
for idx, row in df_user.iterrows():
    cur.execute(
        "update auth_user set first_name = ? where id = ?",
        (row['first_name'], row['id'])
    )
    
conn.commit()

In [79]:
temp_df = cur.execute('select * from auth_user;')
temp_df = pd.DataFrame(temp_df)
columns = [desc[0] for desc in cur.description]
temp_df.columns = [columns]
temp_df

,id,password,last_login,is_superuser,username,last_name,email,is_staff,is_active,date_joined,first_name
0,1,pbkdf2_sha256$1000000$W62P3b625naUlmXuFUBeP6$b...,2025-10-20 05:36:18.133579,1,admin,,,1,1,2025-10-14 07:36:32.118808,
1,2,pbkdf2_sha256$1000000$bRS1foSaGtH9m8i2XPzVh6$e...,2025-10-17 06:33:23.316568,0,testuser,,test@example.com,0,1,2025-10-16 05:16:03.190073,千原 義喜
2,3,pbkdf2_sha256$1000000$353E3cc0NXrmr7aYQiKeCm$n...,None,0,testuser1,,,0,1,2025-10-17 06:35:12.970383,横山 亜紀
3,4,pbkdf2_sha256$1000000$T9xSsSCaaxgH8jyBW2RVxm$H...,2025-10-17 06:41:59.866590,0,testuser2,,,0,1,2025-10-17 06:41:46.904511,常盤 光
4,5,pbkdf2_sha256$1000000$Xz1KxTLUbbfVMbWl2wh3Op$s...,None,0,testuser3,,test3@example.com,0,1,2025-10-20 08:59:23.571139,松本 翔瑚
5,6,pbkdf2_sha256$1000000$ujXdIMgre3sRmDCRFJEi6t$0...,None,0,testuser4,,test4@example.com,0,1,2025-10-20 08:59:23.925337,森中 祐樹
6,7,pbkdf2_sha256$1000000$Grv6cXzQeNzucsC170g2Ij$U...,None,0,testuser5,,test5@example.com,0,1,2025-10-20 08:59:24.262764,河野 竜也
7,8,pbkdf2_sha256$1000000$QKJ317OojD9naHbFA9WwdH$/...,None,0,testuser6,,test6@example.com,0,1,2025-10-20 08:59:24.614737,稗田 翔梧
8,9,pbkdf2_sha256$1000000$B3we0NkcgIUCdmi1oBoYxG$I...,None,0,testuser7,,test7@example.com,0,1,2025-10-20 08:59:24.948023,竹中 千紘
9,10,pbkdf2_sha256$1000000$u7RuDXdX52mn3OFUSQlMXm$J...,None,0,testuser8,,test8@example.com,0,1,2025-10-20 08:59:25.288339,坂田 絵理
10,11,pbkdf2_sha256$1000000$LYDSO8ptymPYSYiJyAZ1Ep$1...,None,0,testuser9,,test9@example.com,0,1,2025-10-20 08:59:25.624585,飯室 英治
11,12,pbkdf2_sha256$1000000$8PZeOHdWtA7Cydl8zDd7oy$m...,None,0,testuser10,,test10@example.com,0,1,2025-10-20 08:59:25.968777,中村 由希
12,13,pbkdf2_sha256$1000000$57I2LOicU4gLIt1of3oGqz$1...,None,0,testuser11,,test11@example.com,0,1,2025-10-20 08:59:26.313016,伊藤 千晶
13,14,pbkdf2_sha256$1000000$igOnvu0yQM5bq0fuDqtPP8$X...,None,0,testuser12,,test12@example.com,0,1,2025-10-20 08:59:26.661378,柳原 百雅
14,15,pbkdf2_sha256$1000000$opUG6joLPGHbgtyTdXWiGR$N...,None,0,testuser13,,test13@example.com,0,1,2025-10-20 08:59:27.004200,
15,16,pbkdf2_sha256$1000000$bu8LWat7uFAxOJir35JXw5$Y...,None,0,testuser14,,test14@example.com,0,1,2025-10-20 08:59:27.343609,