In [1]:
import pandas as pd
import sqlite3


conn = sqlite3.connect('../db.sqlite3')
cur = conn.cursor()

cur.execute("select * from whiteboard_engineer")

rows = cur.fetchall()

In [ ]:
df = pd.DataFrame(rows)
df

filterd_by_name = ~df['1'].str.contains(r'[\u4E00-\u9FFF]', regex=True)

       0      1 2     3           4    5   6           7    8
0      1  田村 正喜     勤務中  2025-04-01   22   2  2026-03-31  正社員
1      2  中川 貴之     勤務中  2025-04-01   22   2  2026-03-31  正社員
2      3   太田 勲     勤務中  2025-04-01   23   3  2026-03-31  正社員
3      4  五所 善寛     勤務中  2025-04-01   24   4  2026-03-31  正社員
4      5  今林 宏司     勤務中  2025-04-01   25   5  2025-11-30  正社員
..   ...    ... ..  ...         ...  ...  ..         ...  ...
316  317  髙野 健彦     勤務中  2025-10-16  158  10  2025-12-31  正社員
317  318  藤木 祐治     勤務中  2025-10-01   33   2  2026-03-31  正社員
318  319  宮崎 昌一     勤務中  2025-10-01   33   2  2026-03-31  正社員
319  320  石川 康祐     勤務中  2025-10-16  130   6  2025-11-18  正社員
320  321  イ デグン     勤務中  2025-10-01  159   5  2025-12-25  正社員

[321 rows x 9 columns]